.header
  = render "messages/index-header"


.messages-body
  .messages-body__contents
    .group-icon-info
    = render @messages
    



.form-message-field

  = form_for [@group, @message] do |f|
    = f.text_area :content, class: 'form__message', 
      placeholder: "良識のあるコメントを心掛けましょう"
    = f.label :image, class: 'form__mask__image' do
      -# = icon('fas', 'image', class: 'icon')
      .image-choose-icon 写真を選ぶ
      = f.file_field :image, class: 'hidden'
      = f.submit '送信', class: 'form__submit'