.top-main-visual
  .top-header
    .top-app-logo
      =link_to root_path do
        = image_tag 'beautiful-background-image4.jpeg', alt: 'app-logo', height: '80', width: '80', class: 'app-logo'
    .logo-text caht info comunity
    -if user_signed_in?
      .search-box
        = link_to groups_url,class: "root-group-index" do
          %p.root-group-index グループ一覧を開く
    -else
      .search-box

    -if user_signed_in?
      .login-button
        %p.user-logout-button 
          = link_to destroy_user_session_path , method: :delete, class:"registration-text" do
            ログアウト
        %p.user-edit-button 
          = link_to edit_user_registration_path, class: "edit-registration-text" do
            編集
    -else
      .login-button
        %p.user-login-button 
          = link_to new_user_session_path , class:"registration-text" do
            ログイン・新規作成
        
  .app-publicity
    %p.app-publicity__text 楽しくチャット♪
    %p.app-publicity__text__subtitle 〜　情報を共有しよう　〜
  
